PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=chat_db

JWT_ACCESS_SECRET=your_jwt_access_secret_here
JWT_REFRESH_SECRET=your_jwt_refresh_secret_here
JWT_ACCESS_EXPIRES=24h
JWT_REFRESH_EXPIRES=7d

ADMIN_EMAIL=admincute@admin.com
ADMIN_PASSWORD=123123

GEMINI_API_KEY=
OPENAI_API_KEY=
GOOGLE_CLIENT_ID=

SEPAY_QR_ACCOUNT_NUMBER=2367245362
SEPAY_QR_BANK_CODE=VCB
